[2018-05-31 02:26] beothorn opened #9 "Add more tests"
Many parts of the code need refactor, but first tests must be added to ensure the code still functions as expected.

[2018-05-31 16:02] beothorn opened #10 "Solve license confusion"
There are different, mutually excluding licenses on some files GPL (/junrar/src/main/java/com/github/junrar/Volume.java).
Not sure how to solve this.

[2018-05-31 16:56] beothorn commented on #10
@Rogiel I see that you've added the GPL license, but the license refeers to a project seedbox . Was that your intent?

[2018-06-01 12:51] Rogiel commented on #10
@beothorn The GPL headers are probably a mistake from another project I was working on. Since the code is mine, you are free to use it however you want and change its license to whatever you see fit.

[2018-06-02 01:42] beothorn commented on #10
Thanks a lot @Rogiel :)
I'll remove the headers for the next deploy

[2018-06-02 01:42] #10 closed

[2018-06-02 13:23] sshikov opened #11 "Is it possible to extract archive from InputStream, for example?"
I have a .rar archive in Hadoop hdfs file system. There is no such thing as java.io.File there.

[2018-06-02 21:50] beothorn commented on #11
Does this help?
[code]

[2018-06-03 18:42] sshikov commented on #11
Let me try. Looks like a solution, thanks.

[2018-06-03 19:13] beothorn commented on #11
Cool. I'll close this issue, if this is not enough please open another one with more details of what you need.

[2018-06-03 19:13] #11 closed

[2018-06-04 17:17] sshikov opened #13 "Output folder (Hadoop again)"
I'm sorry, byt #11 is not enougth for complete Hadoop based unrar soultion.

1. Output folder should also be something like org.apache.hadoop.fs.Path.

2. And one another thing; sometimes we have a huge .rar file, where only 10% of packaged files should be unpacked. It will be great if we could have some filtering capabilities. Like Stream<FileHeader>, so that we can iterate it and filter, map ele

[2018-06-17 22:42] beothorn commented on #13
Internally the project uses commons-vfs2, that seems to have support for hdfs https://commons.apache.org/proper/commons-vfs/filesystems.html#HDFS .
I've added a new method
[code]
There is a implementation of VolumeManager called VFSVolumeManager . I believe you can use it to with the hdfs fileobject.
Then you can implement ExtractDestination as you need, here is the implementation for the local fi

[2018-06-20 19:16] sshikov commented on #13
There is no support for hdfs r/w, only read. So I'm not sure about commons-vfs2 yet. But let me evaluate this a bit more. Thanks.

[2018-06-20 21:32] beothorn commented on #13
Commons-vsf2 is used only for reading.
For writing, ExtractDestination exposes a method "extract" that receives an archive, which you can use to write the extracted fole to an outputstream.

[2018-06-23 18:04] sshikov commented on #13
I have implemented ExtractDestination for HDFS folder target, and it works (with minor issues like IOException throwed from some methods in hadoop FileSystem where java.io analogs does not throw).

Probably I will prepare pull request with my changes after some internal testing.

[2018-06-23 18:35] beothorn commented on #13
Cool

[2018-06-24 17:44] beothorn opened #15 "Look for useful changes on other forks"
Because the main project is unmaintained there is a lot of fragmentation.
Lots of forks with different improvements https://github.com/edmund-wagner/junrar/network/members
It would be nice to scan them and reproduce improvements on this fork.

[2018-06-24 18:31] beothorn commented on #15
Some interesting changes

https://github.com/geometer/junrar/commit/c44496d6c64fc09951ccc390374b8517f01ebd9b

https://github.com/awaters1/junrar/commit/28be41d24a7077937f5ef11905c840ed36e3dbe2

https://github.com/NitroXenon/JUnRAR

https://github.com/Cheetozz/junrar

https://github.com/sseide/junrar/commit/5ccda759d68a8f5c489fb20e1a7bfa49f66d82f7

https://github.com/vaemendis/junrar/commit/28663a4

[2018-07-02 11:57] sethchhim commented on #15
`geometer/junrar@c44496d`

This commit is extremely more performant on Android. PipedInputStream just doesn't work that well for us.

[2018-07-02 12:40] rednoah commented on #15
Adding `META-INF/vfs-providers.xml` to the JAR would be nice as well, so `vfs2` can find the RAR plugin, since `vfs2` support is implemented already:
[code]

[2018-08-28 06:03] zhaoyong-zy opened #17 "extract encrypted rar file with encrypted content as file content"
There's a situation when i encrypted file with winRAR and select the "show password" button on the operation UI(as snapshort.bmp), when extract content from  the file(test.rar), it throwed the RarException but the "PipedOutputStream out" parameter has been assigned the wrong value which is encrypted content.
while another encrypted file without selected the "show password" button,  when extract it

[2018-08-30 11:21] theobisproject opened #19 "Maven executes not all unit tests"
When running `mvn test` with Maven 3.5.2 and Java 8 only the unit tests in the SimpleTest class are executed. The other tests in the JUnRarTestUtil and JunrarTests class are ignored.

[2018-08-30 11:34] theobisproject opened #20 "Minimum needed Java version"
I am a bit confused about which is the minimum Java version requirement for Junrar. The version in the pom.xml for the maven-compiler plugin is Java 6 (source and target) but the apache-vfs dependency states that the minimum Java version for 2.2 is Java 7 (see https://commons.apache.org/proper/commons-vfs/).
Was the version of apache-vfs raised on purpose to require Java 7 for Junrar and the chang

[2018-09-03 09:52] and0429 opened #22 "exception in archive constructor maybe file is encrypted or currupt"
When I unrar a .rar file , I got a exception.  "exception in archive constructor maybe file is encrypted or currupt",   but the rar file is not encrypted ,  I used winrar.exe version is 5.6, 5.5.

[2018-09-07 03:38] paranoiagu commented on #22
this jar can not extract rar5

[2018-09-14 12:31] redmanmale opened #23 "RAR5 is not supported"
Junrar just throws exception ([there](https://github.com/junrar/junrar/blob/master/src/main/java/com/github/junrar/Archive.java#L232)) when trying to extract from such archive.

Is there any plans to support it?

[2018-10-18 01:47] and0429 commented on #22
Is there any plans to support it?

[2018-10-18 01:48] #22 closed

[2018-10-19 10:38] 15738519635 commented on #23
please support it

[2018-10-21 12:44] qiushifengyu commented on #23
RAR 5 format is not supported, Is there any plans to support it?

[2018-12-16 15:39] #19 closed

[2018-12-29 09:04] lovejing0306 opened #27 "com.github.junrar.exception.RarException: badRarArchive"
请问这个问题怎么解决！

[2018-12-30 22:09] beothorn commented on #27
Does any software with rar support (7zip for example) is able to decompress your file?

Looking at the code it may be possible that your rar is invalid or has a version that is not supported.

[2019-01-03 11:46] Alister71 opened #28 "On attempt to extract archive RAR5 the archive is locked"
On attempt to extract rar archive version RAR5 the archive is locked.
Version 3.1.0, call:

File dest = new File(destination);
Junrar.extract(arch, dest);

Exception stack:

exception in archive constructor maybe file is encrypted, corrupt or support not yet implemented
com.github.junrar.exception.RarException: unsupportedRarArchive
	at com.github.junrar.Archive.readHeaders(Archive.java:282)
	at c

[2019-01-05 11:06] theobisproject commented on #28
@Alister71 Thanks for noting the issue. I will have a look at the problem.

[2019-01-11 20:55] tlf30 commented on #23
@beothorn Is there a reason for this?

[2019-02-04 15:32] egervan commented on #23
Dear development team,
Are there any plans to start support Rar version 5 in the near future?

[2019-06-06 16:08] zzustu opened #34 "Support for Chinese characters"
https://github.com/junrar/junrar/blob/ae7bd9bb0590a530ff8b2057e1a0c403c004085c/src/main/java/com/github/junrar/Junrar.java#L159

使用`fileHeader.getFileNameString()`获取FileName中文会乱码，而使用
`fileHeader.getFileNameW()`
就不乱码

[2019-09-18 07:46] WangJi92 commented on #23
RAR 5 format is not supported, Is there any plans to support it?

[2020-02-12 11:43] Neiko2002 commented on #23
What about https://formats.kaitai.io/rar/index.html? It seems to me they can at least read rar v5. But I have not tried it yet.

[2020-02-13 13:19] maocoj opened #35 "Multi part file not support well"
When decopressing multi part file,   if the last file in xxx.part1.rar has no data in next volume, there will not go on decompressing xxx.part2.rar

[2020-04-17 16:29] sparkhi opened #36 "NPE on a possibly corrupt rar file"
Hello,

I came across a NullPointerException from the `Archive` class which I wanted to bring to your notice. I believe this is happening on a corrupt file or an unsupported version (not really sure)

The problem happens on the file when reading headers, `BaseBlock.getHeaderType()`  one of the Bytes that it comes across is a 0, hence it returns a `null`.

In the `Archive` class, there is a `switch

[2020-05-20 16:13] beothorn opened #38 "New maintainer for this project"
There is no one actively maintaining this project.
If anyone who **is using this library** in an **active project** have interest in taking over let me know.

[2020-05-20 16:25] xavier630 opened #39 "Different results when initialising Archive with InputStream vs FileVolumeManager"
In my case, making an Archive with 1. and then iterating through the files finds N number of files, but using 2. and iterating through finds 4N files.

1.
[code]
2.
[code]

The iteration is along the lines of:
[code]

It's plausible that when using a InputStream, the next file header from the archive ends up being null one sooner than it should be.

[2020-05-29 02:30] xiamaoxuan opened #40 "how can i unrar with password"
how can i unrar with password

[2020-07-14 03:26] 361442342 commented on #38
hello,recently i focus on zip，tar,zip。 i want to make a contribution.
so i can take this job. except the issue, is there any other things i can do?

[2020-07-14 03:30] 361442342 commented on #23
i will take a try

[2020-07-14 03:47] gotson commented on #38
Hi, I use this library as part of https://github.com/gotson/komga

I have no skills regarding the low level work that this library is doing, but I can definitely handle managing the github, grooming the issues, and setting up automatic builds and publish packages on maven central.

[2020-07-14 09:16] gotson commented on #23
The kaitai tool mentioned above already contain the definition of the rar5 archive. It might come handy to start the implementation?

[2020-07-14 11:22] 361442342 commented on #34
i have reproduced the problem,and found why does it happen.  i will submit a PR to fix it soon.

[2020-07-14 14:09] 361442342 commented on #23
thank you for your&nbsp;reminder,i will pay attention to it.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "junrar/junrar"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年7月14日(星期二) 下午5:

[2020-07-14 14:47] 361442342 commented on #23
thank you for your advice. i will take a look

[2020-07-15 01:18] 361442342 commented on #23
@gotson
I've read that document，the rar v5 format is not yet implemented。

[2020-07-15 01:32] gotson commented on #23
Yes, kaitai is just defining the arrangement of blocks in a file format. It doesn't implement uncompressing rar5, but it gives you the structure of the rar5 files. Maybe it can help, maybe not.

[2020-07-15 01:58] 361442342 commented on #34
@beothorn
`            if (isUnicode()) {
                int length = 0;
                fileName = "";
                fileNameW = "";
                while (length < fileNameBytes.length
                        && fileNameBytes[length] != 0) {
                    length++;
                }
                byte[] name = new byte[length];
                System.arraycopy(fileNameBytes, 0, name,

[2020-07-15 07:20] 361442342 commented on #17
this project has not surpported to unpack the encrypted file.
[code]

[2020-07-15 07:24] 361442342 commented on #40
@beothorn
i read the code,it is not supported yet, am i right?

[2020-07-15 07:31] 361442342 commented on #36
your file format is broken up. you can use winrar to test it.

[2020-07-15 20:15] beothorn commented on #40
Yes, not supported. Looking at the code we just print
"archive is encrypted cannot extract"
and exit

[2020-07-16 01:02] 361442342 commented on #39
maybe your file name does not meet the specification.
you can upload your file,i will try to figure it out.

[2020-07-16 01:07] 361442342 commented on #35
maybe your file name does not meet the specification.
you can upload your file,i will try to figure it out.

[2020-07-16 02:55] 361442342 commented on #39
can you  upload your file,i will try to figure it out.

[2020-07-16 03:15] 361442342 commented on #39
@xavier630
i use winrar to create a Archive and test it with your code, and the problem does not come up.
uploading your file may be helpful.

[2020-07-16 07:28] gotson commented on #38
Thanks @beothorn for giving me the rights on the organisation. I will try to organise the repo and issues in the coming weeks.

[2020-07-16 07:28] #38 closed

[2020-07-16 08:18] sunny-shu commented on #35
@maocoj
i read the rar format,i found that if you split your archive into multi part.the count has not been recorded in the file.
so  if the last file in xxx.part1.rar has no data in next volume, there will not go on decompressing xxx.part2.rar。
i will fix this bug,can you upload your file for me to test my code.

[2020-07-16 10:17] gotson commented on #20
I am looking at this now, I don't quite understand why there is VFS in the first place. I think it makes sense to remove it completely from the project. Do you have any view on that ?

I also plan to raise the minimum requirements to Java 8, since Java 6 is EOL and even the extended support has been dropped. Java 7 is still supported with extended support from Oracle until 2022, but now that Java

[2020-07-16 10:20] gotson commented on #34
@sunny-shu beothorn is not maintaining the project, i am taking over. I am happy to have a look at your PR, we can also add a test file in the test scenarios to make sure it works fine.

[2020-07-16 10:21] gotson commented on #27
@lovejing0306 i am closing this since the issue is quite old. Please reopen if you still have the issue, and provide the file if possible so we can have a look.

[2020-07-16 10:21] #27 closed

[2020-07-16 10:23] gotson commented on #15
@rednoah Would you be able to provide some context on this ? I don't really know VFS nor what it brings. I was thinking of removing it, but if it's useful we can keep it?

[2020-07-16 10:25] gotson commented on #17
Closing, duplicate of #40

[2020-07-16 10:25] #17 closed

[2020-07-16 10:37] gotson commented on #36
Indeed the file is corrupt:

[code]

It would make sense indeed to handle this and throw a `RarException` instead of a NPE. I'll see if I can add this.

[2020-07-16 10:37] theobisproject commented on #15
@gotson Th

@gotson This was already added by @beothorn (see the linked commit above his comment)

[2020-07-16 10:38] gotson commented on #15
I know, i'm wondering what's the use and if we should keep it or remove it.

[2020-07-16 10:42] theobisproject commented on #20
First: I don't use the VFS integration but if it is there some people will definitely do. For me it's more a not needed dependency in the project.
I personally would think about extracting the vfs integration into his own submodule and publish a junrar-vfs.jar. So "core" RAR implementation doesn't have this dependency any more.

[2020-07-16 10:46] gotson commented on #20
Thanks, that is a good idea. I will create a separate issue and see how we can do that.

[2020-07-16 10:49] gotson opened #41 "Carve out VFS support into it's own module"
As mentioned [here](https://github.com/junrar/junrar/issues/20#issuecomment-659329541) it would make sense to carve out the VFS functionality into a separate jar.

[2020-07-17 08:41] sunny-shu commented on #36
@gotson
hi gotson ,i've found the problematic code,please merge my prior PR soon. so i can create new PR for this

[2020-07-17 09:18] gotson commented on #36
Thanks. Can you maybe add a test with the provided file in the PR as well as the code fix?

[2020-07-17 09:23] gotson opened #44 "Modernize project"
The project has not been very well maintained over the past years, i would like to make it easier to contribute.

I have setup a branch `modernize` to perform all the work needed:
- [x] migrate from Maven to Gradle
- [x] migrate to JUnit 5
- [x] migrate to AssertJ
- [x] carve-out VFS support into its own repo (#41)
- [x] raise the minimum version of Java to 8 (#20)
- [x] use Conventional Commits a

[2020-07-17 11:27] sunny-shu commented on #36
ok,I use sparkhi‘s data as test data, is that ok?

[2020-07-17 11:44] gotson commented on #36
yes!

[2020-07-17 19:38] beothorn commented on #15
Someone a long time ago wanted to use junrar from inside a hadoop cluster. I don't think that this is a common usage and there are probably other ways to work around this without vfs.

[2020-07-18 06:11] #20 closed

[2020-07-18 06:11] #41 closed

[2020-07-18 07:06] #36 closed

[2020-07-18 07:23] gotson commented on #36
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on:
- `v5.0.0`
- [GitHub release](https://github.com/junrar/junrar/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-18 07:23] gotson commented on #41
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on:
- `v5.0.0`
- [GitHub release](https://github.com/junrar/junrar/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-18 07:23] gotson commented on #20
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on:
- `v5.0.0`
- [GitHub release](https://github.com/junrar/junrar/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-18 07:34] gotson commented on #36
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on:
- `v5.0.0`
- [GitHub release](https://github.com/junrar/junrar/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-18 07:34] gotson commented on #41
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on:
- `v5.0.0`
- [GitHub release](https://github.com/junrar/junrar/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-18 07:34] gotson commented on #20
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on:
- `v5.0.0`
- [GitHub release](https://github.com/junrar/junrar/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-18 08:02] #44 closed

[2020-07-18 08:42] gotson commented on #41
VFS support is now here: https://github.com/junrar/commons-vfs-rar

[2020-07-20 02:00] sunny-shu commented on #40
@gotson  @beothorn
i plan to work on this issue this week, i will do it based on the source code of winrar. Is there anything i need to pay attention to

[2020-07-20 02:18] gotson commented on #40
It seems someone already did it in one of the fork, check here https://github.com/koroshiya/junrar/commit/06bdd47f56fea1de8fb41c2c3400c4be403ba647

Maybe you can port the changes.

[2020-07-21 01:19] sunny-shu commented on #40
i am working on it.  koroshiya/junrar is not based on the latest code,so It may take a few days to resolve this matter

[2020-07-21 02:24] gotson commented on #40
I didn't test his fork yet, but i noticed it was using [gnu crypto](https://www.gnu.org/software/gnu-crypto/) for the Rijndael algorithm (which is not implemented in our version). The jar is added directly in the project, which is bad practice. It seems the jar is available on [Maven Central](https://search.maven.org/artifact/org.gnu/gnu-crypto/2.0.1/jar), but the project seems abandoned since 201

[2020-07-21 03:23] gotson commented on #40
I don't agree, i have tested it, and i found it it can:
- list content of encrypted files, which is not possible in our version because the file listing is encrypted
- extract password protected files

However, i couldn't extract files from an encrypted archive, i get a CRC error.

[2020-07-21 08:45] gotson commented on #15
https://github.com/vsubhash/junrar/commit/9831bedeb0deaa1fc82ff13901a5ece7f30beb3b is breaking tests. Some of our test files do have windows separators, and extract fine on Mac and Linux, so this is probably not needed.

[2020-07-21 09:19] gotson commented on #15
It seems there is some interesting change [here](https://github.com/RDamman/junrar/commit/94607b0dc34889c1e8ccf943895b87a5f73bb086) about PPM error handling, but i have no idea if those changes make sense or not.

Files concerned:
- Unpack.java
- Decode.java
- ModelPPM.java

[2020-07-21 09:31] gotson commented on #15
Some more changes that are difficult to assess: https://github.com/phax/junrar/commit/2b0dc092efdfe522c8dd356af20c444d4e1020a2

[2020-07-21 09:32] sunny-shu commented on #40
hi gotson，I found the key point in  koroshiya/junrar.now i unpack the encrypted successfully.
Next, I will replace gnu crypto  according to your opinion and add the test case。
After all problems are solved, I will raise PR。
thank you for your advice.

[2020-07-21 09:35] gotson commented on #15
And this one too: https://github.com/vaemendis/junrar/commit/28663a44434caa900cb584436a120ea7e163a5d8

[2020-07-21 09:38] gotson commented on #15
I finished combing the changes listed above. I found only 3 that i cannot really assess (the 3 comments directly above this one).

@sunny-shu if you are up to the challenge, you can have a look at the 3 changes and see if they make sense, and if yes we can port them to our version.

[2020-07-21 09:47] gotson commented on #9
It is quite difficult to add unit test on the RAR code. Adding integration tests with all the problematic archives we can find is most likely a better solution.

New features or bug correction will require test file if possible in the future.

Closing this for now.

[2020-07-21 09:47] #9 closed

[2020-07-22 09:27] sunny-shu commented on #40
hi gotson，the api of Rijndael is different from the JDK.
I tried many times with jdk's api，It cannot decrypt correctly。
I integrated the original author's code，You do the rectification for Rijndael. is that ok?

[2020-07-22 10:08] gotson commented on #40
You can make a PR, I'll have a look, thanks!

[2020-07-23 09:24] gotson opened #49 "review class organizations and public API"
I spent quite some time understanding the current organization of the code, here is what i have gathered so far:
- To me there are 2 possible entry points in the library:
  - the `Junrar` class which provides only `static` methods. Those methods can be considered as helper methods, and remove the need to instantiate the `Archive` class.
  - the `Archive` class, which provide more fine-grained oper

[2020-07-23 09:43] gotson commented on #49
@sunny-shu i have created a branch that simplifies the IO, but it will have an impact on your current PR for decryption.

I would like to get your view, can you check https://github.com/junrar/junrar/tree/io-simplification ?

[2020-07-24 01:13] sunny-shu commented on #49
ok,i will take check today.
The api is indeed a bit confusing。Some files in the io directory are not used，I guess the original author also wanted to refactor the code。

[2020-07-24 09:05] gotson commented on #49
i have updated `dev` branch with some more refactoring, cleaning up the public API for `Archive` and `Junrar`. `VolumeManager` is not exposed anymore to consumers in both those classes.

I have noticed that there is some use of the `assert` keyword in the code, but without the special flag `-ea` those are never triggered. I will check how to replace them with proper checks.

[2020-07-24 09:30] gotson commented on #49
There's only 5 of those, and they are not actually used to check parameters, so we can leave those.

I have further cleaned up the Volume classes, regrouped them in the `volume` package.

[2020-07-24 09:51] gotson commented on #49
I think I'm done with the cleanup, should be good to merge to master.

@sunny-shu cam you have a quick look before I merge?

[2020-07-25 00:11] gotson opened #51 "Support encrypted archives"
With the recent work on `dev` branch we can decrypt password protected archives, but not yet encrypted archives.

@sunny-shu i think i have found where the _salt_ for the header encryption is located. I have found [this website](https://connect.ed-diamond.com/MISC/MISC-092/Usage-de-la-cryptographie-par-les-formats-d-archives-ZIP-RAR-et-7z) that talk about it (it's in french). The 8 byte salt is lo

[2020-07-25 01:24] sunny-shu commented on #49
i have reviewed your code.
Beautiful work！

[2020-07-25 01:47] sunny-shu commented on #51
yeah，i agree with you.
When i was doing this feature，i thougt i shoud creat a filterinputStream to support decryption.
but if i do so, more changes come up.and DataComprIO is just a wrapper of channel and DataComprIO assume this role。
so i have not created a new class.

when support to decrypt  encrypted  archives,Let's refactor again。

[2020-07-25 01:57] gotson commented on #51
i was playing with the code this morning, trying to decrypt the headers. The most painful part is that AES/CBC is a block cipher, and it requires decrypting by block of 16 bytes. That's what the `read` code in `ComprDataIO` is doing at the moment.

I like the FilterInputStream idea, but we don't always use a stream, as the channel can be a file or stream, and we have very low level operations read

[2020-07-25 09:03] #40 closed

[2020-07-25 09:05] #49 closed

[2020-07-25 09:07] gotson commented on #40
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on:
- `v7.0.0`
- [GitHub release](https://github.com/junrar/junrar/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-25 10:11] gotson opened #52 "Multipart extraction from stream"
The current implementation doesn't work when trying to extract a multipart archive from a stream.

It should be possible to have it working, but it would require to provide all of the the input streams in order.

[2020-07-27 03:40] #52 closed

[2020-07-27 03:47] gotson commented on #52
:tada: This issue has been resolved in version 7.1.0 :tada:

The release is available on:
- `v7.1.0`
- [GitHub release](https://github.com/junrar/junrar/releases/tag/v7.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-27 12:42] sunny-shu commented on #51
@gotson
do you work it out?

[2020-07-27 12:59] gotson commented on #51
Nope. I'm confident the salt is the next 8 bytes after the main header, I could get some data decrypted but the size is wrong and I get an extraction error.

I didn't have time to debug more.

[2020-07-28 01:34] sunny-shu commented on #51
If you don’t have time, I will continue your work。

[2020-07-28 01:59] #34 closed

[2020-07-28 02:03] gotson commented on #51
@sunny-shu sure. I have pushed a branch `encrypted-headers` with my current work, you can use that.

I think we need to implement the same behaviour as in `ComprDataIO` with the `decryptedDataBuffer` and `notConsumptedLen`. Because the `Archive.readHeaders()` method reads headers in small parts, and we need to decrypt in blocks of 16 bytes with AES.

[2020-07-28 02:04] gotson commented on #34
:tada: This issue has been resolved in version 7.2.0 :tada:

The release is available on:
- `v7.2.0`
- [GitHub release](https://github.com/junrar/junrar/releases/tag/v7.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-28 09:12] sunny-shu commented on #51
hi gotson,have you tested the project "unarcrypto"?
i test it with header-encrypted  file and fail.

here is the log.
# python3 test.py -p test test1.rar
password= test
Block header: crc 6152 type 72 (marker) flags 0x1a21 size 7  addsize 0
Block header: crc 99ce type 73 (archive) flags 0x80 size 13  addsize 0
  headersEncrypted True
header salt b'acbbc8f5d6a50a48'
 password test
iv b'e2b62aedef183

[2020-07-28 13:29] gotson commented on #51
Why do you say it fails?

[2020-07-29 01:44] sunny-shu commented on #51
i konw compression well.
Decompression is a mathematical calculation. If the data is wrong, the decompression can stiil continue, but the result is wrong。
the log shows the content is wrong.

[2020-07-29 02:52] gotson commented on #51
Indeed.

It seems it's OK for RAR5 though:

[code]

[2020-07-29 02:56] gotson commented on #51
I have tested other archives in the test folder, some are working.

[code]

[code]

[code]

[code]

[2020-07-30 03:13] sunny-shu commented on #51
I was reading the source code of winrar and now I found some important clues. I think in a few days, I can solve this issue.

[2020-08-03 08:44] #51 closed

[2020-08-03 08:50] gotson commented on #51
:tada: This issue has been resolved in version 7.3.0 :tada:

The release is available on:
- `v7.3.0`
- [GitHub release](https://github.com/junrar/junrar/releases/tag/v7.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-26 00:17] zhaosongyi commented on #23
When I raed a rar5 file. the exceprion can not be catched.
try {
					a = new Archive(new FileVolumeManager(f));
				} catch (RarException e1) {
					// TODO Auto-generated catch block
					e1.printStackTrace();
				} catch (IOException e1) {
					// TODO Auto-generated catch block
					e1.printStackTrace();
				}
no matter which version 0.7 or 7.3.0

[2020-08-26 01:31] gotson commented on #23
There is a [test](https://github.com/junrar/junrar/blob/79b8909cc5d6fe478eb1412eea22710773f27840/src/test/java/com/github/junrar/RarVersionTest.java#L51) that covers that.

It could come from your archive.

Can you perform a `unrar l <archive.rar>` with your file?

On the `rar5.rar` file in our test folder, here is what i get:

[code]

[2020-08-26 03:51] zhaosongyi commented on #23
Thank you for the quick response. do you mean I can catch the eception with the way in your @test code? for "unrar", is it a shell command or a new method in your junrar?

[2020-08-26 03:53] gotson commented on #23
What I am saying is that a rar5 will throw an exception, as shown in the test. So the problem is probably with your file.

Unrar is the free executable provided by rarlab, you can download it on their website.

[2020-08-26 03:56] zhaosongyi commented on #23
ok, I see.

[2020-10-10 06:33] suntrian commented on #23
7zip completed rar5 decompress algorithm which is open source,  but it's written by c++

[2020-10-30 07:40] RobbWatershed opened #56 "[QUESTION / Architecture] DocumentFile support for Android"
I'm about to fork and use this library on an Android 10 project where all file I/O has been rewritten to use `DocumentFile` instead of plain Java `File`. We did that in order to work with the Android SAF and comply to scoped storage security constraints.

Thing is, I do know how to change the code to replace `File` with `DocumentFile` but I have no idea how to properly integrate these changes into

[2020-10-30 09:22] gotson commented on #56
Problem is see is that DocumentFile does not guarantee there's a File behind. I don't know much Android SDK, but I doubt it would be as simple as replacing one with the other.

[2020-10-30 09:35] gotson commented on #56
I've found this https://stackoverflow.com/questions/39577708/is-it-possible-to-get-a-regular-file-from-documentfile and also this https://stackoverflow.com/questions/43026027/reading-zipfile-with-android-documentfile

You could probably use the library as is by using streams.

[2020-10-30 11:32] RobbWatershed commented on #56
That's for sure !  I said I knew how to do it; I didn't say it would be easy.

That would definitely be the best solution. `extract` can already work with streams. However `getContentsDescription` does not. Adding another method variant that takes a stream as an input would probably be faster/easier than replacing `File`

I'll keep you informed. Worst case, the 2nd SO link suggests to reconstitute

[2020-11-01 03:33] #56 closed

[2020-11-01 03:46] gotson commented on #56
:tada: This issue has been resolved in version 7.4.0 :tada:

The release is available on:
- `v7.4.0`
- [GitHub release](https://github.com/junrar/junrar/releases/tag/v7.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-11-01 04:15] gotson commented on #56
:tada: This issue has been resolved in version 7.4.0 :tada:

The release is available on:
- `v7.4.0`
- [GitHub release](https://github.com/junrar/junrar/releases/tag/v7.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-11-06 11:39] WangWeiHuawwh opened #60 "[BUG]Using inputStream to decompress some huge files causes OutOfMemoryError"
**Describe the bug**
Using inputStream to decompress some huge files causes OutOfMemoryError。

the code like：
InputSteam inputStream = new FileInputStream(file);
Archive arch = new Archive(inputSteam);

All code is run in thread，The reason seems to be readHeaders() method will never reach EndArcHeader on Archive.java.

**To Reproduce**
NA

**Expected behavior**
NA

**File**
http://1pan.top/page/5f

[2020-11-06 12:18] gotson commented on #60
It's not a bug, but a limitation from the library.

In order to read a RAR file, we need random access, as the headers are spread between the actual encoded files. To that end, when you create an `Archive` from an `InputStream`, junrar uses a `RandomAccessInputStream` (see [here](https://github.com/junrar/junrar/blob/1931072e1213f283fe42b37a9ba540a95cbcca0e/src/main/java/com/github/junrar/io/Rando

[2020-11-06 12:18] #60 closed

[2020-11-06 12:28] WangWeiHuawwh commented on #60
The above code is just a Demo，Actually I only have uri parameter，and can only use uri conversion to InputStream to decompress. do you have a good ideal?

[2020-11-06 13:07] gotson commented on #60
The only way would be to store the file on disk temporarily, and use a `File` thereafter.

Using a Uri and à stream would anyhow end up downloading the full file, so if you can download on disk instead of memory, that should work.

[2020-11-19 11:46] #35 closed

[2020-11-19 12:55] xavier630 commented on #39
Unfortunately I can't upload the exact files since they are work-related but perhaps it's worth noting as well that they were many GBs large

[2020-11-19 13:12] gotson commented on #39
Are the files multi volume?

Can you also check the files via the official unrar command line tools and post results?

[2020-11-19 13:40] gotson commented on #39
And one more question, what's the correct number of files you expect? Is 1 or 2 correct?

[2020-11-19 14:03] xavier630 commented on #39
Apologies - this happened about half a year ago and I've since switched projects. If I get access to the files again I'll see if I can answer those questions.

Feel free to close since no one else can reproduce it.

[2020-11-19 14:47] #39 closed

[2020-12-16 15:02] syedecryptr commented on #23
Dear development team,
Are there any plans to start support Rar version 5 in the near future?

[2020-12-17 00:49] gotson commented on #23
There are no plans to add this, in near or far future. The format is completely different from the rar 4 handled in this library.

The code for junrar is a java port of the freely available code of the C unrar library, it's more than 10 years old. I don't think anyone will spend the time to do this for rar 5. It would require considerable time and technical ability.

[2020-12-17 02:36] aomsweet commented on #23
@gotson  Hi,

Is it possible to use jni to achieve? UnRAR have c++ source code.

[https://www.rarlab.com/rar/unrarsrc-6.0.3.tar.gz](https://www.rarlab.com/rar/unrarsrc-6.0.3.tar.gz)

[2020-12-17 03:14] syedecryptr commented on #23
@aomsweet I have not checked it by running but it seems this project is trying to achieve the same thing you describing? using UnRAR with jni, also not sure does this support RAR5 or not.

https://github.com/vsoftio/unrar-android

[2020-12-17 07:38] aomsweet commented on #23
@syedecryptr  Hi,

I think it should be possible, but I'm not familiar with C++.

[2020-12-17 08:35] gotson commented on #23
To use JNI one would need to write all the bindings from Java to C++.

Then you have the problem of compiling the underlying library for many OSes and cpu architectures.

Either you ship a barebone jar with only JNI bindings, and you leave the user to compile their own native library.

Or you ship native libraries for many targets inside the jar, and use a special loader to load the right one.

Th

[2020-12-28 07:15] syedecryptr commented on #23
Made a flutter plugin to unrar a file, up to RAR4 used junrar and for RAR5 used custom dart code if interested check :

https://github.com/syedecryptr/unrar_file

[2021-01-07 08:22] RobbWatershed opened #63 "[Optimization] Junrar shouldn't load the entirety of the file into memory"
**Describe the bug**
When initializing an archive to read its headers :

[code]

Junrar loads the whole RAR file into memory (see screencap below), which isn't shocking in a desktop environment, but causes issues in a mobile environment (Android) where resources are more scarce. Some of my users gets OOM crashes because of that, when trying to read big files.

**Stracktrace after an OOM for a 510M

[2021-01-07 09:09] gotson commented on #63
You could use `File` instead of `InputStream` to reduce memory usage. When using a `File`, it's using `RandomAccessFile`, but when using `InputStream` we use `RandomAccessInputStream`, which is an internal implementation based on the JAI MemoryCacheSeekableStream class, it uses a memory cache to allow seeking within an `InputStream`.

The problem comes from the structure of the rar files, headers

[2021-01-07 12:02] RobbWatershed commented on #63
Thanks for the quick answer.

Unfortunately I can't use `File` because of technical constraints of the Android platform (need to use SAF / `DocumentFile` since Android 10 to access certain locations such as SD card storage).

I've worked with files structures with similar constraints in the past (MP4 namely). Reading the whole file doesn't mean putting it all into memory. One should be able to see

[2021-01-07 12:32] gotson commented on #63
Are you referring to streams that support `mark()`?

[2021-01-07 14:13] gotson commented on #63
That's the exact behaviour of Junrar when using a `File`, with the underlying `RandomAccessFile`.

Streams do not support random access, hence the internal implementation.

The issue you have is Android specific, with Google preventing developers to access `File` anymore (if I understand correctly), and it's understandable because the abstraction they provide is necessary, as `DocumentFile` does n

[2021-01-07 14:37] RobbWatershed commented on #63
Your description of the Android state of things is quite accurate, and the possible fix with mark / reset is indeed something that could work.

And yes, the stream implementation I'm using does support these two methods. I'll see what I can do 😄

[2021-01-10 17:31] RobbWatershed commented on #63
I've wrapped my head around this issue and came to the following observations :

As it is designed right now, Junrar seems to need random access not for listing but for extracting :
1. It reads headers in a first pass, while constructing `Archive`
2. Then it extracts files in a 2nd pass, using the same stream. `ComprDataIO.init` gives the order to go back to the interesting part of the stream usin

[2021-01-11 01:25] gotson commented on #63
`InputStream` doesn't have a buffer, only `RandomAccessInputStream` does. What i was suggesting is for you to implement the `SeekableReadOnlyByteChannel` interface for an `InputStream` that does support `mark()` and `reset()` (typically for Android). That would look like `SeekableReadOnlyInputStream` but would not use the underlying `RandomAccessInputStream`, but a normal `InputStream` instead. Th

[2021-01-11 11:31] RobbWatershed commented on #63
Sorry about this, I went too fast to my conclusions and didn't explain my initial observations :

- I was mistaken when I said the stream provided by `DocumentFile` supports `mark()` and `reset()` - it actually doesn't

- If I were to follow what you have in mind, I would have to call `mark(fileSize)`, let Junrar parse the headers, and call `reset()` when it needs to go back to the beginning of th

[2021-01-11 11:53] gotson commented on #63
If your InputStream doesn't support mark then I don't think there's any way to handle that better.

You could write to a temp file, then use the archive from a File, if Android let you do it?

[2021-01-11 12:55] RobbWatershed commented on #63
Yup, that could work, but the point of my issue is to optimize resources. Trading RAM for disk space would just create a different kind of optimization issue that other users would report (the ones with very few remaining disk space... and there are plenty of them !)

[2021-01-11 12:56] RobbWatershed commented on #63
Anyway, I'm gonna try my "single pass" idea and submit a PR if that works. If not, I'll close the issue.

[2021-01-16 21:29] RobbWatershed commented on #63
I finally found a proper way to decrease memory usage without rewriting half the library.

As you probably knew already, it was way too ambitious and risky to try and rewrite Junrar to make it do a single pass when extracting. I figured that out after reading the code carefully, which I didn't really do last week.

However, by looking at the API from https://github.com/omicronapps/7-Zip-JBinding-4

[2021-01-17 02:21] gotson commented on #63
Good that you found out a way!

One thing though, it would need careful understanding on how the DocumentFile behaves when getting an input stream. For instance for a local file that would worl, but if you have a DocumentFile that represents a file in the cloud, like on Google drive or Dropbox, what happens when you get an inputstream everytime?

One way to provide your own implementation is to do

[2021-01-30 08:15] RobbWatershed commented on #63
Closing the issue because it isn't an issue for me anymore. I have eventually chosen to use another library that supports RAR5, among other things. Thanks anyway for your constructive and quick input !

[2021-01-30 08:15] #63 closed

[2021-01-30 08:35] gotson commented on #63
May I ask which library you found that supports rar 5?

[2021-01-30 12:18] RobbWatershed commented on #63
Sure : https://github.com/omicronapps/7-Zip-JBinding-4Android

I kinda "cheated" as it's a native library with a JNI interface, and not a full Java solution. At first, I intended to take inspiration from it by reviewing code, but I realized the range of supported formats would make it a good candidate for replacement.

[2021-03-12 10:17] Mingun opened #64 "Remove dependency from org.slf4j.LoggerFactory"
**Describe the bug**
Not all projects depends on `LoggerFactory`. Such general purpose library should not force to using any library that not strictly necessary for work.

**To Reproduce**
- Create new java project in your favorite IDE
- Add `junrar` dependency only
- Instantiate `Archive` class: `new Archive(new File("file.rar"))`

**Expected behavior**
Object must be created, no exceptions expec

[2021-03-12 10:24] gotson commented on #64
Slf4j is a facade , you can use whatever implementation you want.

[2021-03-12 10:49] gotson commented on #64
Also check http://www.slf4j.org/faq.html#optional_dependency

[2021-03-12 10:52] gotson commented on #64
You did not describe the symptom, only mentioned reproduction steps. Can you clarify the symptoms you experience?

[2021-03-14 08:41] Mingun commented on #64
Thank you for your help! I see you points and find them reasonable. Actually, I see that logging facade is small and it shouldn't cause rejection in those who seek to keep theirs programs as small as possible.

One thing I still think need to be done: mention in readme that you also need to add dependency to the `slf4j-api-<version>.jar`, because otherwise `ClassNotFoundException("org/slf4j/Logger

[2021-03-14 08:41] #64 closed

[2021-03-14 09:14] gotson commented on #64
It should not be needed. Can you provide a reproduction repo?

[2021-03-14 10:53] Mingun commented on #64
Yes, if you use modern build systems, such as maven or gradle that downloads necessary dependency automatically, you will not face with the problem. However I support project which uses old good `ant` and all dependencies is resolving manually.

I attach small `ant` project [issue64.zip](https://github.com/junrar/junrar/files/6136504/issue64.zip) and you can see that it is failed with
[code]

[2021-03-14 11:30] gotson commented on #64
Hmm. Build systems that don't support transitive dependencies.

Well, glad you sorted it out. I don't plan on adding more information on the Readme, people using outdated buidl systems ought to know where to look to find transitive dependencies on the libraries they use.

[2021-05-22 01:30] ixiDev opened #68 "CrcErrorException"
**Describe the bug**
He there .
I am trying to extract some rar files  [here](https://shamela.ws/books/1510/151016.rar) is an  example
The file was successfully extracted but i got this error

[code]

And here is my code is an Instrumented test on Android studio

[code]
**Expected behavior**
The rar file contain a file with Arabic name, I thing the error comes from here
**File**
[rar file](https:/

[2021-05-22 07:47] gotson commented on #68
Hello, the problem does not come from the file name, but from the archive itself. The CRC for that file is incorrect upon extraction. Repackaging the same file in another RAR will not produce the CRC exception, despite the CRC being the same (you can check with `unrar vt <archive.rar>`.

[2021-05-22 11:24] ixiDev commented on #68
Thanks @gotson  ,60% of file was extracted successfully but i don't know how to fix this CRC exception . Do u have any idea or suggestion please ?

[2021-05-22 11:48] gotson commented on #68
I can't rally tell whether it's a problem with the archive or with the junrar code to be honest.

Do you have issues like this with many files, or just that one?

If it's a single file I would advise you to repackage it, using the official unrar utility or other software.

[2021-05-22 18:57] ixiDev commented on #68
@gotson i have problem on all files that's coming from this site , i can't repacking it it's a lot of files . anyway thanks for support .
I am using 7z-Zip library it's working now.
Thanks.

[2021-05-22 18:58] #68 closed

[2021-06-16 02:55] xishian commented on #23
http://sevenzipjbind.sourceforge.net/
This library can parse rar5 files and many others. It is a JNA wrapper for 7zip.

[2021-07-02 09:50] tien1812 opened #72 "[BUG] Compress"
How to compress ?

[2021-08-15 17:16] marcin-chwedczuk commented on #23
This .NET library has RAR5 (without decryption currently): https://github.com/adamhathcock/sharpcompress
It should be much more easier to translate C# -> Java, than C -> Java.

[2021-11-26 08:48] focuseyes360 commented on #23
How the android app  named Simple Unrar to extract rar5 file? they declare "!!! Now supporting RAR version 5 !!!".The link  as follows: https://play.google.com/store/apps/details?id=com.resonancelab.unrar&hl=en_US&gl=US

[2022-01-27 03:29] Han0nly opened #73 "[BUG]A carefully crafted RAR archive can trigger an infinite loop while parsing."
**Describe the bug**
A carefully crafted RAR archive can trigger an infinite loop while parsing the file. This could be used to mount a denial of service attack against services that use junrar.

**To Reproduce**
[code]

**Expected behavior**
Infinite loop.

**File**
[loop-913d3158487310b1b4b74086ab888f5ed56a8493.zip](https://github.com/junrar/junrar/files/7947329/loop-913d3158487310b1b4b74086ab88

[2022-01-27 03:32] gotson commented on #73
How did you find out, if I may ask?

[2022-01-27 03:35] Han0nly commented on #73
Hi @gotson, We find this sample using a testing technique called fuzzing.

[2022-01-27 03:37] gotson commented on #73
It doesn't seem the provided file is even a rar file, no ?

[code]

[2022-01-27 03:42] Han0nly commented on #73
Hi @gotson , this infinite loop PoC file we provided here is indeed a broken RAR file. We use fuzzing to iteratively mutate some valid RAR files to test the junrar.

[2022-01-27 03:45] gotson commented on #73
Thanks, i manage to reproduce in the tests, will have a look.

[2022-01-27 04:08] #73 closed

[2022-01-27 05:21] Han0nly commented on #73
Hi @gotson , are you willing to help us to request a CVE ID through [GitHub Security Advisories](https://github.com/junrar/junrar/security/advisories) for this bug, which can cause Denial of Service. You can follow [this tutorial](https://authzed.com/blog/using-github-to-manage-your-first-cve/) to manage your bug fixing and alert any downstream dependencies of the issue so they can patch immediate

[2022-01-27 09:12] gotson commented on #73
Thanks, it's a new process to me, but that's actually a good idea.

[2022-02-19 23:00] AlexandrKozlovskiy opened #74 "com.github.junrar.exception.CrcErrorException during extracting of archive"
I have rar archive (http://qsp.su/index2.php?option=com_sobi2&sobi2Task=dd_download&fid=460&format=html) When i try to extract it on android:

[code]
I get an exception:

[code]

Please fix this issue,because winrar for windows extract it without any problems.

[2022-02-21 02:36] gotson commented on #74
Your file has a CRC error on file `The Warlock of Firetop Mountain.qsp`, the expected CRC and computed CRC don't match. The file is damaged.

Maybe because you ticked "Keep Broken Files" ?

[2022-03-11 15:10] andrebrait commented on #23
@focuseyes360 The UnRAR tool is open source. Anyone with enough time and patience can technically port it to whatever platform they choose. I'm guessing these guys either did that or they're using some native library with a JNA/JNI wrapper.

[2022-03-11 15:14] andrebrait commented on #23
@linsui you can use UnRAR's code to do anything related to opening and handling RAR files.
You _cannot_ use it _only_ if you're trying to compress to RAR or reverse-engineer the format.
It's the exact same license this repository uses.
Since it's permissive, you can even use it inside GPL'd code and whatnot.

It's right here in the license:

[code]

[2022-03-11 15:15] andrebrait commented on #23
Just a note to anyone interested, I've started updating the code against the latest version of UnRAR.
It'll take a while, but we'll get RAR5 support... eventually...

[2022-03-11 15:17] linsui commented on #23
@andrebrait Yes, so it's not open source.

[2022-03-11 15:29] linsui commented on #23
Oh, I just found that this lib is also distributed under the unrar license. And it declares itself as a freeware.

[2022-03-11 15:34] andrebrait commented on #23
Well, yes. It has to. It's part of the original license.

[2022-03-19 07:23] zzycami commented on #63
I have this problem too. check this https://stackoverflow.com/questions/28897329/documentfile-randomaccessfile
ParcelFileDescriptor can read random. example here: https://github.com/avluis/Hentoid/blob/dcb208eabbfc134b20d68c996cce89989179655e/app/src/main/java/me/devsaki/hentoid/util/ArchiveHelper.java

[2022-03-20 11:32] andrebrait commented on #23
@gotson my plan here is to basically "rebase" Junrar on top of the latest C++ code for unrar. It will be a very, very big diff, and I'm 99% sure it will have to be one big PR, but I'll do my best to cover every piece of it with tests.

Let me know if you have any alternative ideas on how I can make it easier to you as the maintainer.

[2022-03-20 12:22] gotson commented on #23
I don't think there's an easy way. Hopefully we have sufficient test coverage 😉

[2022-03-24 15:03] Han0nly commented on #73
Hi @gotson , I found some files which can also trigger this infinite loop. I have tested these on the latest version (7.4.1 )
[loops.zip](https://github.com/junrar/junrar/files/8342701/loops.zip).

[2022-03-25 01:33] gotson commented on #73
Please open a new issue.

[2022-03-25 12:23] Han0nly opened #81 "[BUG]A carefully crafted RAR archive can trigger an infinite loop while parsing"
**Describe the bug**
A carefully crafted RAR archive can trigger an infinite loop while parsing the file. This could be used to mount a denial of service attack against services that use junrar.

**To Reproduce**
[code]

**Expected behavior**
Infinite loop.

**File**
[loops.zip](https://github.com/junrar/junrar/files/8350407/loops.zip)

**Environment (please complete the following information):**

[2022-03-30 02:29] zhanghai opened #83 "[BUG] NullPointerException when extracting solid archives"
**Describe the bug**

`Unpack.window` is null during `Archive.extractFile()` if the archive is solid, which results in a `NullPointerException`.

Stacktrace:

[code]

This seems to be a result of `Unpack.init()` only called when `hd.isSolid()` return `false`, and `Unpack.init()` seems to be the only wait to intialize `Unpack.window` which is used unconditionally in `Unpack.unpack29()`.

https://gi

[2022-04-12 06:29] gotson commented on #83
You need to extract all the files in sequence for solid archives. Have a look [here](https://github.com/junrar/junrar/blob/d5cc784c937f461be1e71a7a92b4018af8aef8c7/src/test/java/com/github/junrar/ArchiveTest.java#L220-L285) for examples.

[2022-04-12 10:09] gotson commented on #81
Had a quick look, and it seems junrar doesn't perform CRC checks on headers, despite headers storing CRC.

When running the provided files through `unrar` cli, it actually detects file corruption, and does not proceed to extracting anything:

[code]

I have added CRC check for the end of archive header, and that takes care of `loop1.rar`. Haven't had time to check on the other files, or how to imp

[2022-04-13 06:32] gotson commented on #81
`loop2.rar` doesn't have an End of Archive header. I am no rar expert, but i would say that means the archive is corrupt.

[2022-04-13 09:34] Han0nly commented on #81
Hi @gotson , these files we provided are indeed corrupted RAR files. We use fuzzing to iteratively mutate some valid RAR files to test the junrar. Though it is not a valid RAR file, it does make the applications using junrar vulnerable to Denial of Service attack.

[2022-04-13 12:01] gotson commented on #81
Yeah I know, I'm mostly talking to myself.

[2022-04-25 07:49] wukongeek opened #85 "[BUG]com.github.junrar.exception.CorruptHeaderException: null"
Above bug occurs when unrar a rar file.The code is copyed from the repository example.

[2022-04-25 08:56] gotson commented on #85
Please provide more details, like the code you use, the full stack trace, and the file.

[2022-04-26 01:36] gotson commented on #83
I tested your file, it works well. Please provide the code you are using to perform the extract.

[2022-04-26 05:04] zhanghai commented on #83
The code is at https://github.com/zhanghai/MaterialFiles/blob/914692580391dcef06a3bfd45a22a19285cd0c0c/app/src/main/java/me/zhanghai/android/files/provider/archive/archiver/ArchiveReader.kt#L297 . Even if extraction have to be done sequentially for solid archives, maybe the library still shouldn't throw a `NullPointerException`?

[2022-04-26 05:06] gotson commented on #83
Can you provide a minimal reproduction repo that shows the problem?

[2022-04-26 19:54] tballison opened #86 "[BUG] Exception swallowed during initialization -- silently missing data we used to get in 7.4.1"
**Describe the bug**
In 7.5.0, the parser is stopping earlier than it did in 7.4.1 without throwing an exception.  The exception is logged, but the client has no idea that there was a problem with the file.

**To Reproduce**
Iterate through the entries...
[code]
**Expected behavior**
Please throw the exception or continue parsing the file as happened in 7.4.1.

**File**
The file is part of our lar

[2022-04-27 01:24] gotson commented on #86
Can you expand on that?

[2022-04-27 01:31] gotson commented on #86
@andrebrait it seems linked to the changed done in #76 , if you have some time would you mind having a look ?

[2022-04-27 02:56] THausherr commented on #86
I forgot to mention in the discussion in tika yesterday that 7zip shows the content
![grafik](https://user-images.githubusercontent.com/6665575/165430412-36f43ecb-18ab-4829-b251-5dc72ff0b4c6.png)

[2022-04-27 03:38] gotson commented on #86
the official `unrar` cli as well as The Unarchiver on Mac can extract the archive without problem.

[2022-04-27 08:47] andrebrait commented on #86
@gotson will do. Expect a PR by the end of the week, at most. Will try to get it fixed by EOD today.

[2022-04-27 12:22] andrebrait commented on #86
@gotson, @THausherr, @tballison
Fixed it: #87

[2022-04-27 12:23] gotson commented on #86
Thanks a lot @andrebrait for the reactivity. I will have a look tomorrow and if everything looks OK I'll merge and release.

[2022-04-27 13:23] tballison commented on #86
Thank you!

[2022-04-27 18:49] tballison commented on #86
If you ever need more files, we have some: https://corpora.tika.apache.org/datasette/file_profiles?sql=select+file_path%2C+length%2C+mime_string%0D%0Afrom+file_profiles+p%0D%0Ajoin+file_mimes+m+on+p.tika_mime_id+%3D+m.mime_id%0D%0Awhere+mime_id+in+%2898%2C+99%2C+152%2C+448%29%0D%0Aorder+by+length+asc%0D%0A

The ones around 1MB are likely to be truncated.

[2022-04-28 11:11] #86 closed

[2022-04-29 23:14] zhanghai commented on #83
Hi @gotson,

Thank you for taking a look and explaining to me that the extraction only works when done sequantially. I'll look into doing that in my file manager,

Although fixing the NPE would be nice-to-have, and the code path for hitting the NPE is explained in the first comment, I only have limited time working on my open-source projects recently and can't provide an MRE for this. So if an MRE

[2022-04-30 00:10] gotson commented on #83
I can't reproduce the npe on my side with your file and code. The code your point at is very low level, and it's not clear why a npe would be thrown there.

[2022-04-30 00:10] #83 closed

[2022-05-04 10:55] AlexisJehan opened #88 "[BUG] "IllegalArgumentException: Pipe Size <= 0" with an empty file in the archive"
**Describe the bug**
Reading an archive with an empty file is throwing an IllegalArgumentException.

**To Reproduce**
[code]

**Expected behavior**
Should return an empty InputStream instead of throwing an IllegalArgumentException.

**File**
[file.rar.zip](https://github.com/junrar/junrar/files/8619620/file.rar.zip)
(need to extract the ZIP file to get the RAR inside)

**Environment (please comple

[2022-05-04 11:03] tballison commented on #88
We found this too over on Apache Tika.  We added a size check on the header and if == 0, we skipped the stream.

[2022-05-04 12:38] gotson commented on #88
Probably coming from here https://github.com/junrar/junrar/blob/36c56d766793bbc21a9d5752dbcf67e42d75a4d2/src/main/java/com/github/junrar/Archive.java#L647 as the buffer size would be zero.

I suppose we can add a check for the header size and return an empty stream instead.

[2022-05-24 11:56] happy-qop opened #89 "Integration with Google oss-fuzz fuzzing service"
Hi, I would like to help integrate this project into Google [oss-fuzz](https://github.com/google/oss-fuzz).
It is a fuzzing service Google provided for automatically testing important open-source repositories.
I've submitted an integration [PR](https://github.com/google/oss-fuzz/pull/7750) to oss-fuzz.
The integration contains the scripts and fuzzers for testing this project.
Are you happy to supp

[2022-05-27 06:17] gotson commented on #88
@andrebrait seems like it's been introduced by one of your change. Do you want to take care of this one?

[2022-05-27 06:18] andrebrait commented on #88
@gotson sure thing

[2022-05-30 19:35] andrebrait commented on #88
@gotson done #90

[2022-05-31 12:23] #88 closed

[2022-06-07 03:06] #74 closed

[2022-06-22 14:05] tballison commented on #81
The fix proposed in #93 fixes the infinite loop in the three files attached.  This is my first time working with your codebase, please forgive failure to follow junrar coding practice etc.  I'm happy to learn.

We recently had a report of infinite loops in junrar here: https://issues.apache.org/jira/browse/TIKA-3798
Without the triggering file on that issue, we cannot know if this will fix that in

[2022-06-22 19:39] tballison commented on #81
I tgz'd Apache Tika's regression corpus 7GB of rars here: https://corpora.tika.apache.org/base/share/rars.tgz

[2022-06-23 02:42] gotson commented on #81
I am curious on how you use that exactly in Tika. Would you be able to explain high level what kind of tests you run on those ? I'm also interested in how you can setup the CI to test on all that, given the massive file size?

[2022-06-23 03:14] gotson commented on #81
@tballison i took some time to review the unmerged changes I did for this issue, i just pushed a commit with some checks on header validity.

I have published a 7.5.3-SNAPSHOT also, not sure if that's something you can use to see if that addresses [TIKA-3798](https://issues.apache.org/jira/browse/TIKA-3798).

[2022-06-23 10:08] tballison commented on #81
Y, our corpus is way too large for CI, and given the sources of the data, we're not going to put those into our official ASF repo.

Before we make a release, we manually run Tika against the corpus or a 1 million file sample and then compare the results with the previous version of Tika.  We also use the corpus for development if we're working on a new parser or looking for issues in a specific pa

[2022-06-23 11:32] gotson commented on #81
I have no idea. That code was ported from the C unrar code more than 10 years ago. I only maintain the library, the low level code is entirely cryptic to me.

I checked the current unrar code and this doesn't exist anymore, it changed completely.

I will try to make use of your corpus, that could be a good addition to our small test suite. If I manage to do so, I'll try your change and compare the

[2022-06-23 14:09] tballison commented on #81
I pulled from master and rebuilt.  I'm still getting infinite loops on https://github.com/tballison/junrar/blob/issue81/src/test/resources/com/github/junrar/bugfixes/gh81-infinite-loop2.rar and https://github.com/tballison/junrar/blob/issue81/src/test/resources/com/github/junrar/bugfixes/gh81-infinite-loop3.rar

When I add:
[code]
I did this to test how often this happens on the full corpus of ~12

[2022-06-23 15:54] tballison commented on #81
I ran the full tika-eval process with the change I proposed and the latest release. There were no differences except on the three files attached here.

[2022-06-23 18:33] Arashvscode opened #94 "Hrlp me"
Hello my used in code

[code]

End app me Error not The file is not extracted

![Screenshot_20220623-225901_rar](https://user-images.githubusercontent.com/101287880/175369770-dba8ab2e-059b-42f1-a63f-5159a2c5c035.jpg)

If you can help me and send me a Java code, I can extract it in the file path. Thank you. I am waiting for your reply.

[2022-06-24 02:34] gotson commented on #94
Junrar doesn't support RAR 5 files, see #23.

[2022-06-24 02:34] #94 closed

[2022-06-24 02:37] gotson commented on #81
Yes, that's normal. My initial fix which wasn't merged only fixed the first file, not the other 2. I still wanted that fix merge, because it adds some controls at a higher level in the code, by doing CRC checks on headers.

Thanks a lot for doing that ! I wanted to do something along those lines, but you beat me to it! That is very valuable information, and while i agree with you that doing change

[2022-06-24 12:13] gotson commented on #81
@tballison while trying to rebase your PR, i managed to find a way to prevent the infinite loops for the files 2 and 3 without having to change the RAR VM code.

I just pushed the changes, and also published a new `7.5.3-SNAPSHOT`.

Do you think you could rerun that on the corpus ? I really want to have some ways to do that myself using the rars you provided, but i didn't had time yet to work out

[2022-06-24 14:15] tballison commented on #81
Sorry, of course.  I didn't read your earlier point closely enough.  Sorry.

[2022-06-24 14:16] tballison commented on #81
Happy to do so.  I may not have time today, but I'll see what I can do.

[2022-06-24 15:46] gotson commented on #81
No rush at all, it's already very kind of you to do so!

[2022-07-08 13:55] nsoft opened #95 "[BUG] Pom License link leads to 404"
**Describe the bug**
 On https://search.maven.org/artifact/com.github.junrar/junrar/7.5.2/jar the pom contains a link to [UnRar License](https://github.com/junrar/junrar/LICENSE.md) which returns 404 ( https://github.com/junrar/junrar/LICENSE.md )

**To Reproduce**
search online in the maven repository.

**Expected behavior**
The link to the license file in the pom should absolutely be a valid lin

[2022-07-14 02:06] #95 closed

[2022-08-08 05:46] gotson commented on #81
Finally had the time to implement regression testing using the corpus provided by @tballison. We now have regression tests on 12k+ files, and amazingly running under a minute on my Macbook!

I'm closing this issue, as it's resolved in `7.5.3`.

[2022-08-08 05:46] #81 closed

[2022-08-09 03:23] #85 closed

[2022-09-26 04:07] #89 closed

[2022-09-27 05:49] NanyangTaiji opened #103 "Get a specific inputstream from a rar containing multiple items."
From List<ContentDescription> contentDescriptions = Junrar.getContentsDescription(testDocuments),   can I get an input stream for a specific contentDescription?

[2022-10-10 02:11] gotson commented on #103
You can't get it from a `ContentDescription`, but you can get it from a `FileHeader` via `Archive#getInputStream(FileHeader hd)`.

You can loop through file headers from an `Archive` via `Archive#getFileHeaders()` or by iterating as `Archive` implements `Iterable<FileHeader>`.

[2022-11-02 13:17] xiaokanmengsi opened #104 "Error unpacking large file(>2G)"
**Describe the bug**
Error unpacking large file(>2G).

**To Reproduce**
When unpacking a large file(>2G),The program will report an error.

**Expected behavior**
I want to be able to unzip large files.

**File**
If possible, please attach or provide a link to the RAR file.
On line 124 of RandomAccessInputStream.readUntil() function ,the 'length'  variable is int, wen the file length is large then

[2022-11-02 13:52] gotson commented on #104
Can you provide the stack trace?

[2022-11-02 13:53] gotson commented on #104
Can you provide sample code on how you use the library in that case? Are you using a stream or a file?

[2022-11-03 01:37] xiaokanmengsi commented on #104
`import com.github.junrar.Archive;
import com.github.junrar.rarfile.FileHeader;

import java.io.FileInputStream;
import java.io.FileOutputStream;

/**
 * @author chengpei
 */
public class RarUtil {

    public static void main(String[] args){
        String rarPath = "D:\\test\\source.rar";
        String destinationPath = "D:\\test\\unrar\\";
        try {
            unrar(rarPath,destinationPat

[2022-11-03 05:48] gotson commented on #104
A recommendation, if you have a file on disk, it's better to use the methods that take a `File` instead of an `InputStream`, this will be more performant

[2022-11-03 06:16] xiaokanmengsi commented on #104
改用文件之后可以正常解压，但是用FileInputStream的时候会报错，报错的方法是RandomAccessInputStream.readUntil的124行，当文件长度大于int的最大值时，变量length会变成负数。

[2022-11-03 07:13] gotson commented on #104
I can't read Chinese, but i roughly get what you said using Google Translate.

When using a `File`, junrar uses `RandomAccessFile` which is part of JDK. There is no such thing for streams, so we have our own implementation of `RandomAccessInputStream` which does caching in memory. It's less efficient to do caching in memory than to use the `RandomAccessFile`.

[2022-11-03 07:24] #104 closed

[2022-11-03 07:52] xiaokanmengsi commented on #104
When using FileInputStrean, RandomAccessInputStream will be wrong every time, you can debug it use my code, when the 'length' is reach Integer.MAX_VALUE, then the 'length' will be negative,so the thread can not read anything.

[2022-11-03 07:53] gotson commented on #104
i fixed it, thanks for your analysis. But use `File` instead of `InputStream` if you can, you will have better perf.

[2022-11-03 10:21] xiaokanmengsi commented on #104
I hope you can fix this in the BUG in next version as soon as possible. Thank you very much!

[2022-11-07 17:37] Amir-Montazery opened #106 "Could the junrar project benefit from free security help?"
Hello junrar community! Open Source Technology Improvement Fund is piloting out helping critical projects like junrar with their security needs. We have some resources dedicated to helping improve security posture and tooling. I wasn't sure how best to reach out. Please let me know if this sounds interesting and who to connect with. Thank you in advance!

[2022-11-08 13:08] AlexisJehan opened #108 "[BUG] Special characters are not recognized anymore"
**Describe the bug**
Special characters in filenames are not recognized anymore. It was fixed in https://github.com/junrar/junrar/issues/34 but the problem is present again in last versions.

**To Reproduce**
[code]
[code]

**Expected behavior**
Should print `テ.txt`.

**File**
[issue.zip](https://github.com/junrar/junrar/files/9961344/issue.zip) (extract to get the RAR file)

**Environment**
 - OS

[2022-11-08 14:30] gotson commented on #108
It's covered by tests though https://github.com/junrar/junrar/blob/a26a8d251ed0d3cbaa9acc5289be184a38b84415/src/test/java/com/github/junrar/ArchiveTest.java#L388

[2022-11-08 18:08] AlexisJehan commented on #108
It works with the `unicode.rar` file, effectively:
[code]

Maybe the file I created is encoded differently? I made it with Winrar on Windows checking the RAR4 format.

[2022-11-09 00:53] gotson commented on #108
I cannot reproduce on my macbook, it works fine. Could it be something with how your Java is configured?

[2022-11-09 00:55] gotson commented on #108
Would you be able to produce a minimum reproducible repo on Github, showing that it works with a previous version and fails with 7.5.4?

[2022-11-09 09:08] AlexisJehan commented on #108
I'm using Windows 10 64 bits and Adoptium JDK 11.0.16.1+1 (I also tried Adoptium JDK 18.0.2.1+1).

Here is the reproductible repo, with my outputs in the README file: https://github.com/AlexisJehan/JunrarIssue108
(The issue appears since Junrar 7.5.3)

[2022-11-09 14:15] gotson commented on #108
Thanks, I have a fair idea where the big could be, but I want to perform a repro first.

[2022-11-10 07:59] #108 closed

[2022-11-24 06:50] #103 closed